/* Variables */
@import 'functions';

// colors
// 
$main-color: #505FF0;
$search-bg: #38C8A4;
$black-color: #31344C;
$grey-color: #7F8294;

// fonts
// 
$font-x-small: rem(12);
$font-small: rem(13);
$font-medium: rem(14);
$font-medium-2: rem(15);
$font-big: rem(16);
$font-large: rem(17);

